<!-- <div class="orbit-container"> -->
  <ul data-orbit class="example-orbit">
    <li>
      <img src="http://cdn2.bigcommerce.com/n-biq04i/a89hvc4/product_images/theme_images/sheridyn_front__75026.jpg?t=1412908466" alt="slide 1" />
      <div class="orbit-caption">
    <!--     Caption One. -->
      </div>
    </li>
    <li class="active">
      <img src="http://cdn2.bigcommerce.com/n-biq04i/a89hvc4/product_images/theme_images/SHOP_THE_LOOK_NOW_.jpg?t=1412908466c" alt="slide 2" />
      <div class="orbit-caption">
<!--         Caption Two. -->
      </div>
    </li>
    <li>
      <img src="http://cdn2.bigcommerce.com/n-biq04i/a89hvc4/product_images/theme_images/model_comp_3__18562.jpg?t=1412908466" alt="slide 3" />
      <div class="orbit-caption">
       <!--  Caption Three. -->
      </div>
    </li>
  </ul>


	<div class="row">
		<div class="instagram-text column small-12 medium-6 large-3">
			<h2> #SYDNEYSISTER</h2>
			<h2>@SYDNEY_SISTER</h2>
			<div class="insta-image">
			<img src="http://i.imgur.com/YkN539C.png class">
		</div>
	</div>
		<div class="instgram-slider column small-12 medium-6 large-9">


			
			<!-- SnapWidget -->
		<div class="iframe">
			<iframe src="http://snapwidget.com/sc/?u=c3lkbmV5X3Npc3RlcnxpbnwyMjB8NHwxfHx5ZXN8NXxmYWRlT3V0fHxub3xubw==&ve=281014" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:220px;"></iframe>
		</div>
	</div>
	</div>

	<div class="row small-row">
		<div class="signup column small-12 medium-3 large-4">
			<h3><a href="/users/new">Sign Up Here!</a></h3>
		</div>

		<div class="like column small-12 medium-3 large-4">
			<h3><a href="https://www.facebook.com/sydneysister">Like us on Facebook!</a></h3>

		</div>

		<div class="help column small-12 medium-3 large-4">
			<h3><a href="/faq">Need Help?</a></h3>
		</div>
	</div>

	
</body>
</html>
 