<!-- <div class="orbit-container"> -->
  <ul data-orbit class="example-orbit">
    <li>
      <img src="http://cdn2.bigcommerce.com/n-biq04i/a89hvc4/product_images/theme_images/sheridyn_front__75026.jpg?t=1412908466" alt="slide 1" />
      <div class="orbit-caption">
    <!--     Caption One. -->
      </div>
    </li>
    <li class="active">
      <img src="http://cdn2.bigcommerce.com/n-biq04i/a89hvc4/product_images/theme_images/SHOP_THE_LOOK_NOW_.jpg?t=1412908466" alt="slide 2" />
      <div class="orbit-caption">
<!--         Caption Two. -->
      </div>
    </li>
    <li>
      <img src="http://cdn2.bigcommerce.com/n-biq04i/a89hvc4/product_images/theme_images/model_comp_3__18562.jpg?t=1412908466" alt="slide 3" />
      <div class="orbit-caption">
       <!--  Caption Three. -->
      </div>
    </li>
  </ul>
<!-- </div> -->



<!-- First attempt and JS Image Slider NOT WORKING :'( -->
<!-- 		<div class="container">
			<div class="image-slider-wrapper">
				<ul id="image_slider">
					<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUgGCt4HUGfZ3CjDg1JxMacx8BeHlYdwaDGg646faP1cfafP2"></li>
					<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUgGCt4HUGfZ3CjDg1JxMacx8BeHlYdwaDGg646faP1cfafP2"></li>
					<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUgGCt4HUGfZ3CjDg1JxMacx8BeHlYdwaDGg646faP1cfafP2"></li>
					<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUgGCt4HUGfZ3CjDg1JxMacx8BeHlYdwaDGg646faP1cfafP2"></li>
					<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUgGCt4HUGfZ3CjDg1JxMacx8BeHlYdwaDGg646faP1cfafP2"></li>
					<li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUgGCt4HUGfZ3CjDg1JxMacx8BeHlYdwaDGg646faP1cfafP2"></li>
				</ul>			
				<div class="pager">
				</div>
			</div>
 -->



<!-- FOR COLUMNS TO WORK -->
<!-- Have a containing div with a class "row" -->
	<!-- Each column with that needs the class "column" or "columns" -->
	<!-- For the most part, each row should add up to 12 -->

	<div class="row">
		<div class="instagram-text column small-12 medium-6 large-3">
			<h2>Follow us on instgram!</h2>
			<h1>Sydney_sister</h1>
		</div>
		<div class="instgram-slider column small-12 medium-6 large-9">
			
			<!-- SnapWidget -->
		<div class="iframe">
			<iframe src="http://snapwidget.com/sc/?u=c3lkbmV5X3Npc3RlcnxpbnwyMjB8NHwxfHx5ZXN8NXxmYWRlT3V0fHxub3xubw==&ve=281014" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:220px;"></iframe>
		</div>
	</div>
	</div>

	<div class="row small-row">
		<div class="signup column small-12 medium-3 large-4">
			<h3><a href="/users/new">Sign Up Here!</a></h3>
		</div>

		<div class="like column small-12 medium-3 large-4">
			<h3><a href="https://www.facebook.com/sydneysister">Like us on Facebook!</a></h3>

		</div>

		<div class="help column small-12 medium-3 large-4">
			<h3><a href="/faq">Need Help?</a></h3>
		</div>
	</div>

	
</body>
</html>
 