<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sydney Sister</title>


</head>
<body>
	<h1>Shop our latest arrivals!</h1>
<div id="slider1_container">
    <!-- Slides Container -->
    <div id="slides">
        <div><img u="image" src="http://cdn.beginningboutique.com.au/media/bannerslider/t/h/the-horse-homepage.gif" /></div>
        <div><img u="image" src="http://cdn.beginningboutique.com.au/media/bannerslider/b/e/beach-people-homepage.jpg" /></div>
    </div>
</div>
	
</body>
</html>