 <div class="payment">
  <h1>Payments and Pricing</h1> 

  <p>Prices are all displayed and quoted in Australian Dollars. Sydney Sister reserves the right to do any and all fraud checks required. Sydney Sister reserves the right to change prices without notice. Products are only available while stock is available.</p>
  <p>Any orders place on items with incorrect prices due to data entry error can be cancelled by Sydney Sister or refused. If payment has already been made you will be given the option to remedy the price or receive a refund. <p>
</div>