<div class="shipping">
  <h1>Shipping Information</h1>
  <p>If you live in a metro area in Australia, and order before 3pm, you will receive your parcel the next business day.<p>

  <p>All purchases are shipped express from Sydney with Australia Post at no additional charge. This means next day delivery for the majority of customers.</p>

  <p>Order before 3pm on weekdays, and your order will be shipped out on the day of purchase. Purchases made on weekends and public holidays are processed on the following business day.</p>
</div>