<h2>Products</h2>

<% if @products.present? %>
	<% @products.each do |product| %>
    <div class="admin-product-box">
      <div class="admin-img">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
						 <div class="front">
 						 <%= image_tag product.image %>
						</div>
						<div class="back">
  						<%= image_tag product.image1 %>      
						</div>
					</div>
				</div>
      </div>
      <%= link_to product.name, [:admin, product] %>
    </div>
	<% end %>
<% else %>
  <p>There are no products to display.</p>
<% end %>

<br/>

<%= link_to 'Add a product', new_admin_product_path %>

	