<h2>Products</h2>

<% if @products.present? %>
<!-- 	<ul> -->
		<% @products.each do |product| %>
<!-- 		  <li> -->
        <div class="admin-product-box">
          <div class="admin-img">
            <%= image_tag product.image %>
          </div>
          <%= link_to product.name, [:admin, product] %>
        </div>
<!-- 		  </li> -->
		<% end %>
<!-- 	</ul> -->
<% else %>
  <p>There are no products to display.</p>
<% end %>

<br/>

<%= link_to 'Add a product', new_admin_product_path %>