body.sydney-sisters {
  background: url(img1.jpg) center center fixed;
  -webkit-background-size: tile;
  -moz-background-size: tile;
  -o-background-size: tile;
  background-size: tile;
}

.block {
	display: block;
}

.clear {
  clear: both;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 2px;
}	

.ui-widget-content {
	border: 1px solid #CBB1B1;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
	font-size: 12px;
	height: auto;
}

a#ui-id-1.ui-tabs-anchor {
	font-size: 0.8em;
}

a#ui-id-2.ui-tabs-anchor {
	font-size: 0.8em;
}

a#ui-id-3.ui-tabs-anchor {
	font-size: 0.8em;
}

div#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
	margin: 0px;
	border-radius: 4px;
	border: none;
	width: 600px;
}

div.container {
	width: 80%;
	margin: 0 auto;
	background: white;
}

div.showproducts, div#tabs {
	float: left;
}

div.product_name {
	font-size: 40px;
}

.product-image img {
	width: 330px;
	height: auto;
	padding-left: 10px; 
	padding-right: 10px;
}


p.size_guide_head {
	font-size: 16px;
}

td img {
	width: 200px;
	height: auto;
}

td.total-price {
	padding-top: 10px;
	padding-bottom: 5px;
}

td.checkout-link {
	padding-bottom: 10px;
}

p {
	font-size: 13px;
}

ul {
	list-style: none;
	padding-left: 5px;
}

ul li div.admin-img img {
	display:inline-block;
	width: 330px;
	height: auto;
	margin: 0px;
}

li a {
	padding-left: 10px;
}

tr th {
	text-align: left;
	padding-top: 10px;
	padding-left: 5px;
}

.product_box {
	display: inline-table;
}

div.admin-product-box {
	display: inline-table;
	padding: 40px;
}

a {
	color: #6CAABD;
	text-decoration: none;
	line-height: inherit;
	font-size: 18px;
}

div.column.small-12.medium-6.large-3 {
	text-align: left;
	list-style: none;
}

input {
	background-color: rgb(255, 199, 246);
	padding: 12px;
	border: 0px;
	font-size: 12px;
	margin-bottom: 40px;
}

body.sydney-sisters select {
	width: 130px;
	border-radius: 4px;
	margin-bottom: 20px;
}

div#tabs {
	width: 600px;
}

.products_show {
	background-color: white;
}

select.size-select {
	display: block;
	margin: 0 auto;
}

form.new_cart_product input {
	display: block;
	margin: 0 auto;
}

div.products.row div#tabs {
	float: none;
	margin: 0 auto !important;
}

#tabs-2 a img {
	width: 100%;
}

.product-image {
	width: 400px;
	height: auto;
}

form.new_cart_product input {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 4px;
}

div#tabs p {
	font-size: 14px;
	text-align: left;
}

.content {
	padding: 30px;
}

.content h1 {
	padding-bottom: 20px;
	font-size: 40px;
}

.content p {
	border-bottom: 1.5px solid black;
	padding-bottom: 15px;
}

.shipping {
	padding: 30px;
}

.payment {
	padding: 30px;
}

div.container div.form {
	padding-top: 25px;
	padding-right: 330px;
	padding-left: 330px;
}

div.products-index-heading {
	text-align: center;
	border-bottom: 1.5px solid black;
	margin-left: 70px;
	margin-right: 70px;
	padding-top: 8px;
}

div.container div.products-index ul li  {
	padding-top: 40px;
	/*text-align: center;*/
}

div.front {
	width: 320px;
	height: 383px;
}

div.back {
	width: 320px;
	height: 383px;
}

div.flip-container {
	width: 320px;
	height: 383px;
}

div.product_box {
	padding: 10px;
}

p.product-info {
	padding-left: 10px;
}

div.column.small-12.medium-6.large-2 {
	list-style: none;
  text-align: left;
}

ul.inline-list.cart li img {
	width: 30px;
}

div.small-6.large-3.columns {
	padding-top: 5px;
}

div.row li {
	list-style: none;
	text-align: left;
	display: inline;
}