body.sydney-sisters {
  background: url(img1.jpg) center center fixed;
  -webkit-background-size: tile;
  -moz-background-size: tile;
  -o-background-size: tile;
  background-size: tile;
}

.block {
	display: block;
}

.clear {
  clear: both;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 2px;
}	

.ui-widget-content {
	border: 1px solid #CBB1B1;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
	width: 40%;
	height: auto;
}

div#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {

	margin: 0px;
}

div.container {
	width: 80%;
	margin: 0 auto;
	background: white;
}

	/*margin-top: 110px;*/
}

div.showproducts, div#tabs {
	float: left;
	max-width: 49%;
}

div.product_name {
    padding: 20px;
	font-size: 70px;
	font-family: Raleway;
}

.product-image img {
	width: 330px;
	height: auto;
	padding: 65px; 
}


div#slider1_container {
	position: relative; 
	top: 0px; 
	left: 0px;
	width: 800px;
	height: 500px; 
}

div#slides {
	cursor: move; 
	position: absolute; 
	overflow: hidden; 
	left: 0px; 
	top: 0px; 
	width: 600px; 
	height: 300px;
}

