html {
  background: url(img1.jpg) center center fixed;
  -webkit-background-size: tile;
  -moz-background-size: tile;
  -o-background-size: tile;
  background-size: tile;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 2px;
}	

.ui-widget-content {
	border: 1px solid #CBB1B1;
	background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
	/* position: inherit; */
	width: 40%;
	height: auto;
}

div#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
	margin: 0px;
}