/*TO MAKE THEM EQUAL WIDTH*/
  /*ul.left a width of 100%*/
    /*all lis within that a width of 12.5%*/

/*FOR STYLING STUFF*/
  /*.top-bar needs to have a background change*/
  /*.top-bar-section ul li needs a background change*/
  /*.top-bar-section ul li:hover:not(.has-form) > a   needs a background change*/
  /*.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button)   needs a background change*/
  /*.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) needs a background change*/

.top-bar {
  background-color: rgb(255, 199, 246);
}

.top-bar-section ul li {
  background-color: rgb(255, 199, 246);
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: rgb(255, 199, 246);
}


.top-bar-section ul li:hover:not(.has-form) > a {
  background-color: rgb(255, 199, 246);
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background-color: rgb(255, 199, 246);
}

.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
  background-color: rgb(255, 199, 246);
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: rgb(255, 199, 246);
}

.inline-list li a {
  font-size: 14px;
  display: inline;
}

.inline-list > li > * {

}


.left ul {
  width: 100%;
}

.left ul li {
  width: 12.5%;
}

.top-bar-section ul {
  width: 100%;
}

.top-bar ul li {
  width: 12.5%;
  text-align: center;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: rgb(255, 199, 246);
}

nav {
 width: 100%;
}


.inline-list li {
  padding: 0;
}

a.header-image {
  display: block;
  width: 55%;
  margin: 0 auto;
}

a.header-image img.sydney-sisters-header {
  padding-bottom: 20px;
}

.left {
  width: 100%;
}

.top-bar ul li {
    float: left;
}

.top-bar-section ul li > a {
  font-size: 15px;
}


.top-bar {
    width: 100%;
    margin: 0 auto;
}

.navigation-bar {
	background-color: white;
}

nav.top-bar {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.menu-bar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 15px;
  background: black;
  display: none;
}

.clear {
  clear: both;
}

.inline-list img {
  width: 40px;
}

.second-nav-bar {
	background-color: white;
	text-align: center;
}

 
.second-nav-bar nav ul li a:hover { 
  background: #fff; 
  color: #98D4DC;
}
 


/* FOOTER */

.row {
  text-align: center;
  padding-top: 0px;
}

.row img {
  width: 36px;
}

footer {
	width: 100%;
  height:300px;  
  background: #DCDCDC;
  font-family: raleway;
}

.big-footer {
	width: 100%;
	display: inline;
	padding-left: 80px;
  padding-top: 25px;
}


footer div {
  float: left;
}

footer h3 {
  font-size: 18px;
}

footer .row a {
  font-size: 12px;
}

.first-col-footer-links {
	display: inline-block;
	position: relative;
	width: 23%;
}

.first-col-footer-links img {
	height: 40px;
	width: auto;

}

.second-col-footer-links {
	display: inline-block;
	position: relative;
	width: 22%;

}

.third-col-footer-links {
	display: inline-block;
	position: relative;
	width: 20%;
}

.fourth-col-footer-links {
	display: inline-block;
	position: relative;
	width: 14%;
}