.sticky-header{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 30px;
  background: #D6DAFD;
  color: #fff;
  font-family: Raleway;
  right:0;
  left:0;
  z-index:100;
  display: inline-block;
}

.sticky-header h1 {
    font-size: 20px;
}

.sticky-header img {
    height: 26px;
}

.orbit-container {
    width: 100%;
    height: 458px;
    overflow: hidden;
    padding-top: 30px;
}

.orbit-container img {
    width: 100%;
    height: 400px;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
    display: none;
}

.instagram-slider {
	background-color: rgb(255, 199, 246);
	display: inline-block;
	width: 70%;
}

.insta {
    background-color: lightblue;
    height: 40px;
    width: 100%;
}

.instagram-text {
	display: inline-block;
	float: left;
	background-color: #EBBDFB;
	height: 220px;
	font-style: raleway;
}

.instagram-row {
	position: relative;
	display: inline-block;
	padding-top: 10px;
}

.row {
	padding-top: 30px;
}

.iframe {
	width: 100%;
}

.instgram-slider column small-12 medium-6 large-6 iframe {
	width: 100%;
}

img.sydneysis {
    height: 220px;
    width: 220px;
}

.instagram-text h2 {
    font-size: 20px;
}

.inline-list li a {
    color: #BA96C2;
}

.inline-list li a:hover {
    color: #FFC7F6;
}

.insta-image img {
    width: 100px;
    text-align: center;
}

.insta-image {
    text-align: center;
}

.instagram-text {
    padding-top: 14px;
    text-align: center;
}

.row h1 {
	font-size: 20px;
}

.row h2 {
	font-size: 24px;
}

.small-row {
	width: 100%;
	height: 6%;
	background-color: #D6DAFD;
	padding-bottom:  10px;
	padding-top: 11px;
}

.small-row h3 a {
	color: white;
	border: white solid 3px;
	padding: 5px;
    border-radius: 5px;
}



/* SLIDER CSS */
/*

 #slideShowContainer{
    width:510px;
    height:510px;
    position:relative;
    margin:120px auto 50px;
}

#slideShow{
    position:absolute;
    height:490px;
    width:490px;
    background-color:#fff;
    margin:10px 0 0 10px;
    z-index:100;

    -moz-box-shadow:0 0 10px #111;
    -webkit-box-shadow:0 0 10px #111;
    box-shadow:0 0 10px #111;
}

#slideShow ul{
    position:absolute;
    top:15px;
    right:15px;
    bottom:15px;
    left:15px;
    list-style:none;
    overflow:hidden;
}

#slideShow li{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#slideShowContainer > a{
    border:none;
    text-decoration:none;
    text-indent:-99999px;
    overflow:hidden;
    width:36px;
    height:37px;
    background:url('../img/arrows.png') no-repeat;
    position:absolute;
    top:50%;
    margin-top:-21px;
}

#previousLink{
    left:-38px;
}

#previousLink:hover{
    background-position:bottom left;
}

a#nextLink{
    right:-38px;
    background-position:top right;
}

#nextLink:hover{
    background-position:bottom right;
}


.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 400px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}*/