.sticky-header{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 30px;
  background: #D6DAFD;
  color: #fff;
  font-family: Raleway;
  right:0;
  left:0;
  z-index:100;
  display: inline-block;
}

.sticky-header h1 {
    font-size: 20px;
}

.sticky-header img {
    height: 26px;
}

.orbit-container {
    width: 100%;
    height: 508px;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.orbit-container img {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
    display: none;
}

.instagram-slider {
	background-color: rgb(255, 199, 246);
	display: inline-block;
	width: 70%;
}

.insta {
    background-color: lightblue;
    height: 40px;
    width: 100%;
}

.instagram-text {
	display: inline-block;
	float: left;
	background-color: #EBBDFB;
	height: 220px;
	font-style: raleway;
    padding-left: 20px;
}

.instagram-text.column.small-12.medium-6.large-3 {
    text-align: center;
    border-left: 12px solid white;
    border-bottom: 8px solid white;
}


.instagram-row {
	position: relative;
	display: inline-block;
	padding-top: 10px;
}

.row {
	padding-top: 30px;
}

.iframe {
	width: 100%;
}

.instgram-slider column small-12 medium-6 large-6 iframe {
	width: 100%;
}

img.sydneysis {
    height: 220px;
    width: 220px;
}

.instagram-text h2 {
    font-size: 20px;
}

.inline-list li a {
    color: #BA96C2;
}

.inline-list li a:hover {
    color: #FFC7F6;
}

.insta-image img {
    width: 100px;
    text-align: center;
}

.insta-image {
    text-align: center;
}

.instagram-text {
    padding-top: 14px;
    text-align: center;
}

.row h1 {
	font-size: 20px;
}

.row h2 {
	font-size: 24px;
}

.small-row {
	width: 100%;
	height: 6%;
	background-color: #D6DAFD;
	padding-bottom:  10px;
	padding-top: 11px;
}

.small-row h3 a {
	color: white;
	border: white solid 3px;
	padding: 5px;
    border-radius: 5px;
}

