<div class="products-index">
	<h2>All Products</h2>
		<% @products.each do |product| %>	
	 		<img src="<%= product.image %>">
	 			<div class="link">
	 				<%= link_to product.name %>
	 			</div>
		<% end %>
</div>