<!-- show product info -->

<div class="showproducts">
<!-- <h2><%#= @product.name %></h2> -->
	<div class="product-image">
		<img src="<%= @product.image %>">
	</div>
</div>	

<div class="product_name">
		<%= @product.name %>
	</div>
</div>


<!-- tab widget -->
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Details</a></li>
    <li><a href="#tabs-2">Size guide</a></li>
    <li><a href="#tabs-3">Shipping & Payment</a></li>
  </ul>
  <div id="tabs-1">
    <p><%= @product.description %></p>
  </div>
  <div id="tabs-2">
    <p>this will be a size guide table.</p>
  </div>
  <div id="tabs-3">
    <p>This will be about shipping anad payment.</p>
  </div>
</div>
<div class="clear"></div>
 
</body>
</html>
